.container {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    padding: 40px;
}
.item {
    width: 20%;
}
.item svg {
    width: 100%;
}
rect, circle, path {
    transition: all .3s ease-out;
}
